<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
        'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>
<mapper namespace="bul.nik.tldtesttask.region.mapper.RegionMapper">
    <select id="getRegionById" parameterType="long" resultType="Region">
        SELECT id, name, short_name as shortName
        FROM regions
        WHERE id = #{id};
    </select>

    <select id="getRegions" parameterType="map" resultMap="RegionMap">
        SELECT id, name, short_name as shortName
        FROM regions
        LIMIT #{size}
        OFFSET #{from};
    </select>

    <insert id="createNewRegion" parameterType="Region" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO regions (name, short_name)
        VALUES (#{name}, #{shortName}) ON CONFLICT DO NOTHING;
    </insert>

    <update id="updateRegion" parameterType="Region">
        UPDATE regions
        SET name       = #{name},
            short_name = #{shortName}
        WHERE id = #{id};
    </update>

    <delete id="deleteRegion" parameterType="long">
        DELETE
        FROM regions
        WHERE id = #{id};
    </delete>

    <resultMap id="RegionMap" type="Region" autoMapping="true"/>
</mapper>